name: Build and package release
on:
  pull_request:
  push:
    branches:
      - 'master'
  workflow_dispatch:

jobs:
  run:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4
    - uses: microsoft/setup-msbuild@v2
    - name: Build the codebase
      run: msbuild for-asus-bright-ctrl.sln -property:Configuration=Release
    - name: Debug
      run: |
        tree
        git status
        git ls-files --others --exclude-standard


